.body {
    width: 100%;
    background: url(100+\ Sunset\ Aesthetic\ Wallpapers\ and\ Backgrounds\ \(Free\,\ High-Res\).jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}